<style>
	code	{
		color: black;
		background-color: none;
		border: none;
		font-size: 1em;
	}
	span	{
		color: #c42925;
	}
</style>

<div class="row">
  <div class="span3">
    <%= erb :'admin/navigation', layout: false %>
  </div>
  <div class="span9">
    <h2>Edit Message</h2>
    <form method="post">
      <p>
				<textarea type="text" name="body" id="body" class="textfield span9" rows="7"><%= @messages.body %></textarea>
      </p>
      <div class="row">
        <div class="span2">
          <label class="checkbox" for="profile">
            <input type="checkbox" name="profile" id="profile" <%= 'checked' if @messages.profile %>  /> Profile
          </label>
        </div>
        <div class="span2">
          <label class="checkbox" for="casestudies">
            <input type="checkbox" name="casestudies" id="casestudies" <%= 'checked' if @messages.casestudies %> /> Case Studies
          </label>
        </div>
        <div class="span2" style="margin-left: 3em;">
          <label class="checkbox" for="nce">
            <input type="checkbox" name="nce" id="nce" <%= 'checked' if @messages.nce %> /> NCE
          </label>
        </div>
			</div>
			 <div class="row">
        <div class="span9" style="text-align: right;">
          <span class="pullright"><input class="btn btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-secondary" href="/admin/messages">Cancel</a> &nbsp; <a class="btn btn-danger" href="/admin/messages/<%= @messages.id %>/delete">Delete</a>
        </div>
      </div>
    
		    <br />
				
				
				<!-- <div class="alert alert-success" style="border: 1px solid #3f8557; color: #3f8557; margin-bottom: 32px;"><%= @messages.body %></div> -->
				
				
			</form>	
				<h5 style="color: #3f8557;">Styling</h5>
				<table class="table table-bordered table-striped">
					<tr>
						<td>
							<h4>Bold single line header</h4>
						</td>
						<td>
							 <code><span>&lt;h4&gt;</span>Bold single line header<span>&lt;/h4&gt;</span></code>
						</td>
					</tr>
					<tr>
						<td>
							Use <b>bold</b> words in text
						</td>
						<td>
							 <code>Use <span>&lt;b&gt;</span>bold<span>&lt;/b&gt;</span> words in text</code>
						</td>
					</tr>
					<tr>
						<td>
							Use <i>italic</i> words in text
						</td>
						<td>

							 <code>Use <span>&lt;i&gt;</span>italics<span>&lt;/i&gt;</span> words in text</code>
						</td>
					</tr>
					<tr>
						<td>
							Line break
						</td>
						<td>
							 <code><span>&lt;br /&gt;</code>
						</td>
					</tr>
				</table>
				
				

  </div>
</div>