
<div class="row">	
	<div class="span12">
		
			<h1><%= @exam %> Flash Cards</h1>
						
			<p>Use these flash cards to promote active recall.
The following terms are taken from the study material. The definitions of these terms are brief to re-enforce learning and may require further research.</p> 
		
	</div>
</div>

<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px 12px 9px;">
    	Select a Chapter 
			<b class="caret"></b>
		</a>
		
    <ul class="dropdown-menu" style="width: 500px;">
		<% @glossaries.sort_by{|g| g.chapter}.group_by(&:chapter).each do |chapter, terms| %>
		
			<li ><strong><%= chapter %></strong></li>
		
		<% end %>
    </ul>
		
  </li>
</ul>


<div class="tab-content">
	<% @glossaries.sort_by{|g| g.chapter}.group_by(&:chapter).each do |chapter, terms| %>
		<div class="tab-pane" id="terms">

			<p>
				<a href="/cards/<%= @exam %>/<%= chapter %>" class="btn btn-large btn-success"><strong>View <%= chapter %> Flash Cards</strong></a>
			</p>

			<hr />

		</div>
	<% end %>
</div>



